body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 50%; /* Assignem a cada columna la mateixa amplada */
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

table th, table td {
    word-wrap: break-word; /* Ens assegurem que el text llarga en cas que sigui llarg */
}
